*.classpath
.project
2016-03-23-9-48-47am/DetectedActivities.txt
build/classes/android/hardware/SensorManager.class
build/classes/android/location/LocationManager.class
build/classes/android/util/Log.class
build/classes/nus/cs4222/activitysim/AcclEvent.class
build/classes/nus/cs4222/activitysim/AcclSensorLogParser.class
build/classes/nus/cs4222/activitysim/ActivityDetection$1.class
build/classes/nus/cs4222/activitysim/ActivityDetection.class
build/classes/nus/cs4222/activitysim/ActivitySimulator$EventTuple.class
build/classes/nus/cs4222/activitysim/ActivitySimulator.class
build/classes/nus/cs4222/activitysim/BarometerEvent.class
build/classes/nus/cs4222/activitysim/BarometerSensorLogParser.class
build/classes/nus/cs4222/activitysim/FileLogger.class
build/classes/nus/cs4222/activitysim/GravityEvent.class
build/classes/nus/cs4222/activitysim/GravitySensorLogParser.class
build/classes/nus/cs4222/activitysim/GyroscopeEvent.class
build/classes/nus/cs4222/activitysim/GyroscopeSensorLogParser.class
build/classes/nus/cs4222/activitysim/LightEvent.class
build/classes/nus/cs4222/activitysim/LightSensorLogParser.class
build/classes/nus/cs4222/activitysim/LinAcclEvent.class
build/classes/nus/cs4222/activitysim/LinAcclSensorLogParser.class
build/classes/nus/cs4222/activitysim/LocationEvent.class
build/classes/nus/cs4222/activitysim/LocationSensorLogParser.class
build/classes/nus/cs4222/activitysim/MagneticEvent.class
build/classes/nus/cs4222/activitysim/MagneticSensorLogParser.class
build/classes/nus/cs4222/activitysim/ProximityEvent.class
build/classes/nus/cs4222/activitysim/ProximitySensorLogParser.class
build/classes/nus/cs4222/activitysim/RotationVectorEvent.class
build/classes/nus/cs4222/activitysim/RotationVectorSensorLogParser.class
build/classes/nus/cs4222/activitysim/SensorLogParser.class
build/classes/nus/cs4222/activitysim/SimulatorEvent.class
build/classes/nus/cs4222/activitysim/SimulatorTimer.class
build/classes/nus/cs4222/activitysim/TimerEvent.class
build/classes/nus/cs4222/activitysim/UserActivities.class
build/classes/android/hardware/Sensor.class
